#image_questionMark	{
	background: url(../images/icon_questionmark.png) no-repeat left top;
}

#image_info	{
	background: url(../images/icon_info.png) no-repeat left top;
}

#image_radialdots	{
	background: url(../images/icon_radialdots.png) no-repeat left top;
}

#image_person	{
	background: url(../images/icon_person.png) no-repeat left top;
}

#image_blocks	{
	background: url(../images/icon_blocks.png) no-repeat left top;
}

#image_orgchart	{
	background: url(../images/icon_orgchart.png) no-repeat left top;
}

#image_doc	{
	background: url(../images/icon_doc.png) no-repeat left top;
}

#image_boxesdiagonal	{
	background: url(../images/icon_boxesdiagonal.png) no-repeat left top;
}

#image_clock	{
	background: url(../images/icon_clock.png) no-repeat left top;
}

#image_list	{
	background: url(../images/icon_list.png) no-repeat left top;
}

#image_toolbox	{
	background: url(../images/icon_toolbox.png) no-repeat left top;
}

#image_tools	{
	background: url(../images/icon_tools.png) no-repeat left top;
}

#image_supportperson	{
	background: url(../images/icon_supportperson.png) no-repeat left top;
}

#image_spreadsheet	{
	background: url(../images/icon_spreadsheet.png) no-repeat left top;
}

#image_server	{
	background: url(../images/icon_server.png) no-repeat left top;
}

#image_calendar	{
	background: url(../images/icon_calendar.png) no-repeat left top;
}

#image_cabinet	{
	background: url(../images/icon_cabinet.png) no-repeat left top;
}

#image_3people	{
	background: url(../images/icon_3people.png) no-repeat left top;
}

#image_truck	{
	background: url(../images/icon_truck.png) no-repeat left top;
}

#image_cogs	{
	background: url(../images/icon_cogs.png) no-repeat left top;
}

#image_database	{
	background: url(../images/icon_database.png) no-repeat left top;
}

#image_networkdrive	{
	background: url(../images/icon_networkdrive.png) no-repeat left top;
}

#image_screen	{
	background: url(../images/icon_screen.png) no-repeat left top;
}

#image_diamondBoxes	{
	background: url(../images/icon_diamond_boxes.png) no-repeat left top;
}

#image_repository	{
	background: url(../images/icon_repository.png) no-repeat left top;
}

#image_cloud	{
	background: url(../images/icon_cloud.png) no-repeat left top;
}

#image_matrix	{
	background: url(../images/icon_matrix.png) no-repeat left top;
}

#image_valuechain	{
	background: url(../images/icon_valuechain.png) no-repeat left top;
}

#image_refresh	{
	background: url(../images/icon_refresh.png) no-repeat left top;
}

#image_exchange	{
	background: url(../images/icon_exchange.png) no-repeat left top;
}

#image_multidoc	{
	background: url(../images/icon_multidoc.png) no-repeat left top;
}

#image_tick	{
	background: url(../images/icon_tick.png) no-repeat left top;
}

#image_catalog	{
	background: url(../images/icon_catalog.png) no-repeat left top;
}

#image_padlock	{
	background: url(../images/icon_padlock.png) no-repeat left top;
}

#image_globe	{
	background: url(../images/icon_globe.png) no-repeat left top;
}

#image_target	{
	background: url(../images/icon_target.png) no-repeat left top;
}

#image_flag	{
	background: url(../images/icon_flag.png) no-repeat left top;
}

#image_building	{
	background: url(../images/icon_building.png) no-repeat left top;
}

.image_redCross	{
	background: url(../images/cross_1.gif) no-repeat center center;
}

.image_greenTick	{
	background: url(../images/tick_1.gif) no-repeat center center;
}
