.verticalSpacer_5px		{height: 5px; clear: both;}
.verticalSpacer_10px	{height: 10px; clear: both;}
.verticalSpacer_15px	{height: 15px; clear: both;}
.verticalSpacer_20px	{height: 20px; clear: both;}
.verticalSpacer_25px	{height: 25px; clear: both;}
.verticalSpacer_30px	{height: 30px; clear: both;}
.verticalSpacer_35px	{height: 35px; clear: both;}
.verticalSpacer_40px	{height: 40px; clear: both;}
.verticalSpacer_45px	{height: 45px; clear: both;}
.verticalSpacer_50px	{height: 50px; clear: both;}

.horizSpacer_5px		{width: 5px; height: 1px;}
.horizSpacer_10px		{width: 10px; height: 1px;}
.horizSpacer_15px		{width: 15px; height: 1px;}
.horizSpacer_20px		{width: 20px; height: 1px;}
.horizSpacer_25px		{width: 25px; height: 1px;}
.horizSpacer_30px		{width: 30px; height: 1px;}
.horizSpacer_35px		{width: 35px; height: 1px;}
.horizSpacer_40px		{width: 40px; height: 1px;}
.horizSpacer_45px		{width: 45px; height: 1px;}
.horizSpacer_50px		{width: 50px; height: 1px;}
.horizSpacer_55px		{width: 55px; height: 1px;}
.horizSpacer_60px		{width: 60px; height: 1px;}
.horizSpacer_70px		{width: 70px; height: 1px;}
.horizSpacer_80px		{width: 80px; height: 1px;}
.horizSpacer_90px		{width: 90px; height: 1px;}
.horizSpacer_100px		{width: 100px; height: 1px;}
.horizSpacer_150px		{width: 150px; height: 1px;}